//    Font Family

$primary-font: "Oswald", sans-serif;
$text-font: "Roboto", sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #35B62C;
$primary-color2: #90acd1;
$title-color: #242429;
$text-color: #777777;

$white: #fff;
$offwhite: #f7f7f7;
$black: #000;
